<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
</head>
<body>
<div class="container">
  <div class="header">
    <h1>UWC Tickets</h1>
    <hr/>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 class="page-header">Event: <%= @ticket.event.title %></h3>

      <p><%= "Date: #{@ticket.event.starts_at.to_s(:short)}" %></p>

      <p><%= "Name: #{@ticket.name}" %></p>

      <p><%= "Email: #{@ticket.email}" %></p>

      <p><%= "Price: #{@ticket.price}" %></p>
    </div>
  </div>
</div>
</body>
</html>